# Ignore Gradle build files and directories
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# Ignore STS (Spring Tool Suite) specific files
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

# Ignore IntelliJ IDEA specific files
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

# Ignore NetBeans specific files
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Ignore Visual Studio Code specific settings
.vscode/

# Additional OS-specific and miscellaneous settings
.DS_Store
Thumbs.db

# env file
../.env